<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  >

    <test name="ArrivalBoardGet">
       <classes>
           <class name="RestAssuredTest.RestAssuredTest.Test_fahrplan_arrivalBoard_GET"/>
        </classes>
      </test>
      
       <test name="LocationGet">
        <classes>
           <class name="RestAssuredTest.RestAssuredTest.Test_fahrplan_location_GET"/>
         </classes>
      </test>
      

  <!-- Test -->
</suite> <!-- Suite -->
